Repository dannypsnl/elz, pull requests merged in 2020-03, with the labels that each got.

#264 (#263) list features in README
  README.md
Labels: kind/enhancement

#269 (#268) introduce INDENT for two spaces indent concept
  src/codegen/formatted_elz/mod.rs
Labels: kind/enhancement, kind/internal

#274 (#273) fix new line handling on windows
  src/lexer/mod.rs
Labels: kind/bug, priority/1

#272 (#271) fix bug: missing to check class field
  src/codegen/mod.rs
  src/parser/mod.rs
  src/parser/tests.rs
  src/semantic/error.rs
  src/semantic/mod.rs
  src/semantic/tests.rs
  src/semantic/types.rs
Labels: feature/semantic, kind/bug, priority/0

#266 (#190) improve error reporting: show source code
  Cargo.lock
  Cargo.toml
  src/cmd/compile.rs
  src/diagnostic/mod.rs
  src/lexer/mod.rs
  src/lib.rs
  src/main.rs
  src/parser/error.rs
  src/parser/mod.rs
  src/semantic/error.rs
  src/semantic/types.rs
Labels: kind/enhancement

#281 improve naming: dot access -> member access
  src/ast.rs
  src/codegen/formatted_elz/mod.rs
  src/parser/mod.rs
  src/semantic/types.rs
Labels: kind/internal

#279 (#257) codegen: string
  README.md
  example/hello-world.elz
  lib/prelude/prelude.elz
  runtime/prelude/.gitignore
  runtime/prelude/CMakeLists.txt
  runtime/prelude/stdio.cpp
  runtime/prelude/string.cpp
  runtime/prelude/string.hpp
  src/cmd/compile.rs
  src/codegen/ir.rs
  src/codegen/llvm.rs
  src/codegen/mod.rs
  src/codegen/tests.rs
  src/semantic/types.rs
Labels: feature/codegen, kind/feature

#292 semantic: improve test coverage
  src/semantic/tests.rs
Labels: feature/semantic, kind/enhancement, kind/internal

#293 (#285) semantic: check non extern function must have body
  lib/prelude/prelude.elz
  src/ast.rs
  src/codegen/mod.rs
  src/parser/mod.rs
  src/parser/tests.rs
  src/semantic/error.rs
  src/semantic/mod.rs
  src/semantic/tag.rs
  src/semantic/tests.rs
Labels: feature/semantic, kind/feature

#295 codegen: test global variable
  src/codegen/tests.rs
Labels: feature/codegen, kind/internal

#294 semantic: refactor/fix
  lib/prelude/prelude.elz
  src/semantic/error.rs
  src/semantic/mod.rs
  src/semantic/tag.rs
  src/semantic/tests.rs
  src/semantic/type_checker.rs
Labels: feature/semantic, kind/bug, kind/internal
